**6.2 Binary Data Formats**

In [7]:
import pandas as pd
import numpy as np

In [3]:
frame = pd.read_csv('TestRead.csv', header = None)
frame

,0,1,2,3,4,5,6,7,8,9
0,1234567890,Mike,123,St Petersburg,Wollongong,Wollongong,NSW,2500,NaN,5/25/2020
1,9876543210,Peter,321,Hope,Wollongong,Wollongong,NaN,2500,150000.0,5/25/2019

In [5]:
frame.to_pickle('frame_pickle.bin')#Serialization

In [6]:
pd.read_pickle('frame_pickle.bin')

,0,1,2,3,4,5,6,7,8,9
0,1234567890,Mike,123,St Petersburg,Wollongong,Wollongong,NSW,2500,NaN,5/25/2020
1,9876543210,Peter,321,Hope,Wollongong,Wollongong,NaN,2500,150000.0,5/25/2019

**Using HDF5 Format**

In [8]:
frame = pd.DataFrame({'a':np.random.randn(100)})

In [10]:
store = pd.HDFStore('mydata.h5')

In [11]:
store['obj1']=frame
store['obj1_col']= frame['a']
store

<class 'pandas.io.pytables.HDFStore'>
File path: mydata.h5

In [12]:
store['obj1']

           a
0   1.900655
1   1.016705
2   2.144489
3  -1.301912
4   0.594506
..       ...
95 -1.233625
96 -0.099073
97  1.524662
98  0.473713
99 -0.171223

[100 rows x 1 columns]

In [13]:
store.put('obj2', frame, format='table')

In [14]:
store.select('obj2', where=['index>=10 and index<=15'])

           a
10 -2.373079
11  0.651267
12 -1.739476
13  0.279726
14 -2.514668
15  0.204704

In [15]:
store.close()

In [16]:
frame.to_hdf('mydata.d5','obj3', format = 'table')

**Reading Excel Files**

In [23]:
xlsx = pd.ExcelFile('ex1.xlsx')#Create an instance

In [28]:
frame = pd.read_excel(xlsx, 'Sheet1')
frame

    a b c d message
0   0 1 2 3 4 hello
1   1 5 6 7 8 world
2  2 9 10 11 12 foo

In [26]:
writer = pd.ExcelWriter('ex2.xlsx')

In [29]:
frame.to_excel(writer, 'Sheet1')
writer.save()