**6.3 Interacting with Web APIs**

In [1]:
import pandas as pd
import requests

In [2]:
url = 'https://api.github.com/repos/pandas-dev/pandas/issues'
resp = requests.get(url)
resp

In [3]:
data = resp.json()

In [4]:
data[0]['title']

'API: expected result of concat of SparseArray with Categorical?'

In [5]:
issues = pd.DataFrame(data, columns = ['number', 'title', 'labels', 'state'])
issues

,number,title,labels,state
0,34459,API: expected result of concat of SparseArray ...,"[{'id': 1741841389, 'node_id': 'MDU6TGFiZWwxNz...",open
1,34458,CLN: Clean csv files in test data GH34427,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
2,34457,API: SparseArray.astype behaviour to always pr...,"[{'id': 35818298, 'node_id': 'MDU6TGFiZWwzNTgx...",open
3,34456,"BUG: behaviour of astype_nansafe(.., copy=Fals...","[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
4,34455,BUG: Groupby.apply raises KeyError for Float64...,"[{'id': 697792067, 'node_id': 'MDU6TGFiZWw2OTc...",open
5,34454,TST/REF: refactor the arithmetic tests for Int...,"[{'id': 1817503692, 'node_id': 'MDU6TGFiZWwxOD...",open
6,34453,"[ENH] Allow pad, backfill and cumcount in grou...",[],open
7,34452,BUG: groupby.tshift inconsistent behavior with...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
8,34450,BUG: Fixes Issue #34318,[],open
9,34449,BUG: Period.to_timestamp not matching PeriodAr...,[],open
10,34448,BUG: ensure_timedelta64ns overflows,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
11,34445,BUG: to_numpy on empty dataframe allocates O(l...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
12,34443,TST #28981 comparison operation for interval d...,"[{'id': 150096370, 'node_id': 'MDU6TGFiZWwxNTA...",open
13,34441,Add date dtype,"[{'id': 31404521, 'node_id': 'MDU6TGFiZWwzMTQw...",open
14,34440,BUG: exponential moving window covariance fail...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
15,34439,TST #24444 converting Period to Timestamp,"[{'id': 60635328, 'node_id': 'MDU6TGFiZWw2MDYz...",open
16,34438,BUG: Styler.set_table_styles does not apply to...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
17,34435,BUG: Fix to GH34422 SeriesGroupBy works only w...,"[{'id': 233160, 'node_id': 'MDU6TGFiZWwyMzMxNj...",open
18,34433,DOC: reduce API docs for offset aliases,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
19,34431,BUG: pandas.to_sql raises unexpected column er...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
20,34429,Fix read_sql empty result with chunksize bug G...,[],open
21,34427,CLN: is pandas/tests/data used?,"[{'id': 211029535, 'node_id': 'MDU6TGFiZWwyMTE...",open
22,34426,Categorical.(to|from)_dummies,"[{'id': 78527356, 'node_id': 'MDU6TGFiZWw3ODUy...",open
23,34423,BUG: Fix failing MacPython 32bit wheels for gr...,"[{'id': 563047854, 'node_id': 'MDU6TGFiZWw1NjM...",open
24,34422,BUG: SeriesGroupBy works with any column name ...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
25,34416,Macpython 32 bit build fixup,"[{'id': 563047854, 'node_id': 'MDU6TGFiZWw1NjM...",open
26,34414,33814 merge partial index and index fails empt...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
27,34413,TST: slow test_nearest_upsample_with_limit wit...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open
28,34412,DOC:/USAGE: Resulting Index when merging over ...,"[{'id': 134699, 'node_id': 'MDU6TGFiZWwxMzQ2OT...",open
29,34411,BUG: pd.read_sql returns empty list if query h...,"[{'id': 76811, 'node_id': 'MDU6TGFiZWw3NjgxMQ=...",open