In [2]:
import pandas as pd
import sqlite3

In [3]:
query =""" CREATE TABLE test (a VARCHAR(20), b VARCHAR(20))"""

In [4]:
con = sqlite3.connect('mydata.sqlite')

In [5]:
con.execute(query)

OperationalError: near "(": syntax error